#user {
  color: black;
}

.name {
  width: 90%;
  height: 20%;
  display: flex;
  justify-self: center;
  justify-content: center;
  border-radius: 50px;
}

.header {
  width: 50px;
  height: 50px;
  display: flex;
  background-color: azure;
  border: 5px solid #0000FF;
  justify-self: end;
  justify-content: center;
  border-radius: 50%;
  overflow: hidden;
  box-sizing: border-box;
}

.header img, .header svg {
  width: 100%;
  height: 100%;
}
